**/.precomp
**/.directory
node_modules/*
platforms/*
plugins/*
**/Old
hooks/*
package*
res/*

# None of the js libs except our own project
Data/js-libs/lzma
Data/js-libs/ol3
Data/js-libs/closure-library

Tests/closure-library

# None from www either
www/*

# Stuff from QT app, data is secret and generated stuff is generatable
Qt/Sufitrail/trackData/*
Qt/build-*

*.tbz
