**/.precomp
**/.directory
node_modules/*
platforms/*
plugins/*
**/Old
hooks/*
package*
res/*

# None of the js libs except our own project
Data/js-libs/lzma
Data/js-libs/ol3
Data/js-libs/closure-library

Tests/closure-library

# None from www either
www/*
