<?xml version='1.0' encoding='utf-8'?>
<widget id="sufitrail.io.github.martimm" version="0.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="SufiTrail" xml:lang="en_us">Hiking Trail Of Sufis</name>
    <name short="SufiPad" xml:lang="nl">Wandelpad Van De Sufis</name>
    <description>Application to show tracks on a map. These tracks show a specific route called the sufi trail. This trail connects Istanbul with Konya.</description>
    <author email="mt1957@gmail.com" href="https://github.com/MARTIMM/Sufitrail">Marcel Timmerman</author>
    <content src="index.html" />
    <access origin="*://*.google.*" />
    <access origin="http://*.sufitrail.net" />
    <access origin="*://*.openstreetmap.org" />
    <access origin="*://*.openmaptiles.org" />
    <access origin="*://*.tilehosting.com" />
    <access origin="http://mediaserver.localdomain" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <allow-intent href="market:*" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="android" spec="6.4.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
